<div class="jumbotron">Welcome to the Election Comission. A step towards digital India. Some more Random text. LoreLorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et massa sit amet ante ultricies luctus. Nunc commodo convallis nulla, eu consequat urna. In hac habitasse platea dictumst. In mollis mi in luctus placerat. Morbi tempus enim vel massa vehicula viverra. Donec mauris mauris, efficitur sit amet porta at, pulvinar quis libero.</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/NaMoSmall.jpg" alt="...">
            <div class="caption">
                <h3>Narendra Modi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et massa sit amet ante ultricies luctus. Nunc commodo convallis nulla, eu consequat urna. In hac habitasse platea dictumst. In mollis mi in luctus placerat. Morbi tempus enim vel massa vehicula viverra. Donec mauris mauris, efficitur sit amet porta at, pulvinar quis libero.</p>
                <p><a href="#" class="btn btn-primary" role="button">View Full Profile</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/ArvindKejriwalSmall.jpg" alt="...">
            <div class="caption">
                <h3>Arvind Kejriwal</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et massa sit amet ante ultricies luctus. Nunc commodo convallis nulla, eu consequat urna. In hac habitasse platea dictumst. In mollis mi in luctus placerat. Morbi tempus enim vel massa vehicula viverra. Donec mauris mauris, efficitur sit amet porta at, pulvinar quis libero.</p>
                <p><a href="#" class="btn btn-primary" role="button">View Full Profile</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/RahulGandhiSmall.jpg" alt="...">
            <div class="caption">
                <h3>Rahul Gandhi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et massa sit amet ante ultricies luctus. Nunc commodo convallis nulla, eu consequat urna. In hac habitasse platea dictumst. In mollis mi in luctus placerat. Morbi tempus enim vel massa vehicula viverra. Donec mauris mauris, efficitur sit amet porta at, pulvinar quis libero.</p>
                <p><a href="#" class="btn btn-primary" role="button">View Full Profile</a></p>
            </div>
        </div>
    </div>
</div>